:root {
  --background-color_primary: #10022D;
  --background-color_secondary: #242757;
  --color_primary: white
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color_primary);
  overflow: hidden;
  background-color: var(--background-color_primary);
}